# === COMMON ===
*.log
*.logs
*.DS_Store
*.sw?
*.suo
*.user
*.lock.json
*.cache
*.local

# Editor config
.vscode/
!.vscode/extensions.json
.idea/
*.ntvs*
*.njsproj
*.sln

# === ASP.NET ===
*.pdb
*.dll
*.exe
*.db
*.bak
*.mdb
*.log
*.vs/
obj/
bin/

# === Python ===
AIService/venv/

# === ENV files ===
.env
.env.*
